
body {
  background-color: #134d6d;
}

.art {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.go {
  font-family: "Montserrat", sans-serif;
  color: #fbb995;
}

h1 {
  color: #fbb995;
}

hr {
  border-color: #fbb995;
}

.vh100 {
  height: 100vh;
}
