@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #134d6d;
}

.art {
  color: #ffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

.go {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #fbb995;
}

h1 {
  color: #fbb995;
  font-size: 6.854em;
  line-height: 1;
}

hr {
  border-color: #fbb995;
}
