
body {
  background-color: #134d6d;
}

.art {
  color: #fff;
  font-family: Montserrat, sans-serif;
  border: 3px solid #fbb995;
  border-left: 3px solid #134d6d;
  border-right: 3px solid #134d6d;
  padding-top: 3em;
  padding-bottom: 3em;
}

.go {
  font-family: Montserrat, sans-serif;
  color: #fbb995;
}

h1 {
  color: #fbb995;
}

hr {
  border-color: #fbb995;
}

.vh100 {
  height: 100vh;
}
